:root {
  --tint-hue: 240deg;
  --tint-saturation: 50%;
  --base-hue: 220deg;
  --base-saturation: 100%;
  --tint-color: hsl(var(--tint-hue) var(--tint-saturation) 50%);
  --card-color: hsl(var(--base-hue) var(--base-saturation) 100%);
  --card-box-shadow: 0 0 0 1px hsl(var(--base-hue) var(--base-saturation) 50% / 50%);
}

:root[data-theme=dark] {
  --tint-color: hsl(var(--tint-hue) var(--tint-saturation) 60%);
  --card-color: hsl(var(--base-hue) var(--base-saturation) 10%);
}
