.nav-icon {
  position: relative;
  height: 40px;
  aspect-ratio: 1;
  border-radius: var(--full);
}

.nav-icon::before {
  content: "";
  position: absolute;
  z-index: -10;
  border-radius: inherit;
  background-color: transparent;
  transform: scale(0);
}
.nav-icon::before > nth-child {
  color: var(--trim-color);
}

.nav-icon:hover {
  background-color: var(--card-color-is-hover);
  transform: scale(1);
}
.nav-icon:hover > nth-child {
  color: var(--trim-color);
}

.nav-icon:is(:hover:active, [data-state-active]) {
  background-color: var(--trim-color);
  transform: scale(1);
}
.nav-icon:is(:hover:active, [data-state-active]) > nth-child {
  color: white;
}
