.column-1 {
	transition: calc(250ms * var(--motion-safe)) ease;
	transition-property: margin-right;
}
// INITIAL STATE
.column-1 {
	margin-right: var(--sidebar-width);
}
.column-1.is-sidebar-collapsed {
	margin-right: 0;
}

////////////////////////////////////////

.column-2 {
	position: fixed;   // E.g. inset-r
	z-index: 10;       // E.g. inset-r
	inset: 0 0 0 auto; // E.g. inset-r
	width: var(--sidebar-width);
	background-color: var(--card-color);
	box-shadow: var(--card-hairline-box-shadow);
	transition: calc(250ms * var(--motion-safe)) ease;
	transition-property: width, transform;
}
// INITIAL STATE
.column-2 {
	transform: none;
}
.column-2.is-sidebar-collapsed {
	transform: translateX(var(--sidebar-width));
}
