// DEBUG
* {
	outline: 1px solid red;
	--sidebar-width: 384px;
}

////////////////////////////////////////

.layout-grid {
	display: grid;
	grid-template-columns: 1fr var(--sidebar-width);
	min-height: 100vh;
}

.layout-grid > :nth-child(1) {
	// Setup transitions
	transition: margin-right 300ms ease;

	margin-right: 0;
	@media (max-width: #{768px - 1px}) {
		margin-right: calc(-1 * var(--sidebar-width));
	}
}

.layout-grid > :nth-child(2) {
	// Setup transitions
	transition: transform 300ms ease;

	transform: translateX(0);
	@media (max-width: #{768px - 1px}) {
		transform: translateX(var(--sidebar-width));
	}
}
