@use "sass:color";
@use "sass:map";
@use "sass:meta";
@use "sass:string";

$sass-one-based: 1;

////////////////////////////////////////////////////////////////////////////////

@function str-starts-with($str, $start) {
	@if string.length($str) >= string.length($start) {
		@return string.slice($str, $sass-one-based, string.length($start)) == $start;
	} @else {
		@return false;
	}
}

@function str-ends-with($str, $end) {
	@if string.length($str) >= string.length($end) {
		@return string.slice($str, string.length($str) - string.length($end) + $sass-one-based) == $end;
	} @else {
		@return false;
	}
}

// https://css-tricks.com/snippets/sass/str-replace-function
@function str-replace-all($str, $repl, $with: "") {
  $index: string.index($str, $repl);
  @if $index != null {
    @return
			string.slice($str, 1, $index - 1) +
			$with +
			str-replace-all(
				string.slice($str, $index + string.length($repl)),
				$repl,
				$with,
			);
  }
  @return $str;
}

////////////////////////////////////////////////////////////////////////////////

@function -remove-commas($str) {
	@return str-replace-all($str, ",", "");
}

@mixin -interpolate($key, $value) {
	@if str-starts-with("" + $value, "hsl(") and str-ends-with("" + $value, ")") {
		$raw: string.slice($value, 5, -2);
		#{$key}-raw: #{-remove-commas($raw)};
		#{$key}: #{-remove-commas($value)};
	} @else {
		#{$key}: #{$value};
	}
}

@mixin vars($arg-map) {
	& {
		@each $key, $value in $arg-map {
			@if meta.type-of($value) == map {
				$light-value: map.get($value, light);
				@if $light-value != null {
					@include -interpolate($key, $light-value);
				}
			} @else {
				@include -interpolate($key, $value);
			}
		}
	}
	&[data-theme=dark] {
		@each $key, $value in $arg-map {
			@if meta.type-of($value) == map {
				$dark-value: map.get($value, dark);
				@if $dark-value != null {
					@include -interpolate($key, $dark-value);
				}
			}
		}
	}
}

:root {
	@include vars((
		--full: 1000px,

		--base-color: channels(hsl(20deg 50% 100%)),
	));
	background-color: var(--color-base);
}
