// Accepts:
//
// - var(--collapsible-min-height)
// - var(--collapsible-max-height)
//
.collapsible {
	&:not(.is-collapsed) {
		height: var(--collapsible-max-height);
	} &.is-collapsed {
		height: var(--collapsible-min-height);
	}
	overflow-y: hidden;
	transition: calc(300ms * var(--motion-safe)) cubic-bezier(0, 1, 0.25, 1);
	transition-property: height;
}

////////////////////////////////////////

.collapsible-head {
	padding: var(--gap) var(--padding); // Use var(--gap) for the y-axis
}

////////////////////////////////////////

.collapsible-body {
	.collapsible:not(.is-collapsed) & {
		opacity: 1;
	} .collapsible.is-collapsed & {
		opacity: 0;
	}
	padding: var(--padding);
	padding-top: 0; // Override padding
	transition: calc(300ms * var(--motion-safe)) cubic-bezier(0, 1, 0.25, 1);
	transition-property: opacity;
}
