// Preamble
.radio { position: relative; }  // For pseudo
.radio::before { content: ""; } // For pseudo
.radio::after { content: ""; }  // For pseudo

////////////////////////////////////////

.radio {
	height: var(--reduced-form-height);
	aspect-ratio: 1;
	border-radius: var(--full);
}

// ::BEFORE
.radio::before {
	position: absolute;     // For pseudo
	z-index: -10;           // For pseudo
	inset: 0;               // For pseudo
	border-radius: inherit; // For pseudo
	background-color: var(--form-color);
	box-shadow: var(--form-inset-box-shadow);
}

// ::AFTER
.radio::after {
	position: absolute;     // For pseudo
	z-index: -10;           // For pseudo
	inset: 0;               // For pseudo
	border-radius: inherit; // For pseudo
	transition: calc(150ms * var(--motion-safe)) cubic-bezier(0, 1, 0.25, 1.15);
	transition-property: transform;
}
// INITIAL STATE
.radio::after {
	background-color: transparent;
	transform: scale(0);
}
.group[aria-checked=true] .radio::after {
	background-color: var(--trim-color);
	transform: scale(1);
}

////////////////////////////////////////

.radio > :nth-child(1) {
	height: 8px;
	aspect-ratio: 1;
	border-radius: var(--full);
	transition: calc(150ms * var(--motion-safe)) cubic-bezier(0, 1, 0.25, 1.15);
	transition-property: transform;
}
// INITIAL STATE
.radio > :nth-child(1) {
	background-color: transparent;
	transform: scale(0);
}
.group[aria-checked=true] .radio > :nth-child(1) {
	background-color: white;
	transform: scale(1);
}
