:root {
	--slider-track-height: 6px;
	--slider-thumb-height: 32px;
}

////////////////////////////////////////

.slider {
	padding: 0 16px;
	height: var(--slider-thumb-height);

	// Flexbox
	display: flex;
	flex-direction: column;  // Stretch x-axis
	justify-content: center; // Center y-axis

	cursor: grab;
	touch-action: pan-x; // COMPAT/Safari
}

////////////////////////////////////////

.slider-track {
	height: var(--slider-track-height);
	border-radius: var(--full);
	background-image: linear-gradient(90deg, var(--trim-color) var(--slider-track-percentage),
		var(--card-hairline-color) var(--slider-track-percentage));

	// Flexbox
	display: flex;
	flex-direction: row;
	align-items: center; // Center y-axis

}

////////////////////////////////////////

.slider-thumb {
	height: var(--slider-thumb-height);
	aspect-ratio: 1;
	border-radius: var(--full);
	background-color: var(--form-color);
	box-shadow: var(--form-box-shadow);
}
