.textarea {
	padding: calc(var(--form-height) / 2);
	height: 112px; // TODO
	border-radius: calc(var(--form-height) / 2);
	background-color: var(--card-color);
	box-shadow: var(--card-inset-hairline-box-shadow);
}
