/* * { touch-action: pan-y; } */

/* This is a heavy-handed CSS reset because supporting touch devices is hard.
This CSS resets adds hi-DPI antialiasing and disables selection universally, and
disables font-size scaling and body scrolling on touch devices. */
body {
	/* Enable hi-DPI antialiasing */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Disable selection */
	-webkit-user-select: none;
	user-select: none;
}

@media (hover: none) { body {
	/* Disable font-size scaling */
	-webkit-text-size-adjust: 100%;
	/* Disable body scrolling */
	position: fixed;
	inset: 0;
	overflow: hidden;
} }

/* https://github.com/elad2412/the-new-css-reset/issues/25#issuecomment-1242636428 */
:focus-visible { outline: revert; }
