/* This is a heavy-handed CSS reset because supporting touch devices is hard.
This CSS resets adds hi-DPI antialiasing and disables selection universally, and
disables font-size scaling and body scrolling on touch devices. */
body {
	/* Enable hi-DPI antialiasing */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Disable selection */
	-webkit-user-select: none;
	user-select: none;
}
/* COMPAT/iOS/Safari */
@media (hover: none) { body {
	/* Disable font-size scaling */
	-webkit-text-size-adjust: 100%;
	/* Disable body scrolling */
	position: fixed;
	inset: 0;
	overflow: hidden;
} }

/* https://github.com/elad2412/the-new-css-reset/issues/25#issuecomment-1242636428 */
:focus-visible { outline: revert; }

/**************************************/

:root:has(.sidesheet:is(.is-open, .is-expanded)) .fixed-navbar { margin-right: 384px; }
:root:has(.sidesheet:is(.is-open, .is-expanded)) .main-content {
	margin:
		var(--fixed-navbar-height)                /* T */
		calc(384px + var(--sheet-draggable-size)) /* R */
		0                                         /* B */
		0;                                        /* L */
}
/* COMPAT/iOS: Add scrolling. Use @media
because body scrolling works for
non-touch devices */
@media (hover: none) { .main-content {
	/* Overwrite margin for touch devices */
	margin:
		var(--fixed-navbar-height)  /* T */
		0                           /* R */
		var(--sheet-draggable-size) /* B */
		0;                          /* L */
	height: calc(var(--screen-y) - var(--fixed-navbar-height) - var(--sheet-draggable-size));
	overflow-y: auto;
} }
/* Add scrolling */
.bottomsheet .aside-content {
	height: calc(
		var(--screen-y) -
		var(--sheet-draggable-size) -
		1px -
		var(--sheet-draggable-size)
	);
	overflow-y: auto;
}
/* Add scrolling */
.sidesheet .aside-content {
	height: var(--screen-y);
	overflow-y: auto;
}
/* Prevent body scrolling when
bottomsheet=open OR sidesheet=expanded */
@media (hover: hover) { :root:has(:is(.bottomsheet.is-open, .sidesheet.is-expanded)) body {
	overflow-y: hidden;
} }
