.checkable-container {
	--__color: var(--trim-color);
	/* --__alpha-color: var(--trim-color); */

	/* Flow */
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center; /* checkable-container and checkable-checkbox are 28px and 24px */
	gap: 8px;

	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}
.checkable-label {
	padding:
		/* Y */ 0
		/* X */ 8px;
	height: 28px;
	border-radius: 1000px;
	background-color: var(--form-label-color);
	box-shadow: inset 0 0 0 1px var(--card-hairline-color); /* Use inset here */

	/* Flow */
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 8px;
}
/* Override */
.checkable-label.center {
	display: flex;
	flex-direction: row;
	justify-content: center; /* Center x-axis */
	align-items: center;     /* Center y-axis */
	gap: 8px;
}
.checkable-label-icon {
	height: 16px;
	aspect-ratio: 1;
	color: var(--__color);
}
.checkable-label-text {
	font: 500 11px /
		normal system-ui;
	font-feature-settings: "tnum";
	letter-spacing: 0.1em;
	color: var(--fill-200-color);
}

/**************************************/

.checkable-checkbox {
	height: 24px;
	aspect-ratio: 1;
	border-radius: 40%;
	background-color: var(--form-input-color);
	box-shadow: var(--form-input-box-shadow);

	/* Flow */
	display: grid;
	place-items: center;
}
.checkable-checkbox-svg {
	height: 12px;
	aspect-ratio: 1;
	color: white;
}
/* Overrides */
.checkable-container[aria-checked=false] .checkable-checkbox-svg {
	display: none;
}

/**************************************/

.checkable-radio {
	height: 24px;
	aspect-ratio: 1;
	border-radius: 1000px;
	background-color: var(--form-input-color);
	box-shadow: var(--form-input-box-shadow);

	/* Flow */
	display: grid;
	place-items: center;
}
.checkable-radio-icon {
	height: calc(100% / 3);
	aspect-ratio: 1;
	border-radius: 1000px;
	background-color: white;
}
/* Overrides */
.checkable-container[aria-checked=false] .checkable-radio-icon {
	display: none;
}

/**************************************/

/* Overrides */
.checkable-container[aria-checked=false]:is(:hover, :active) :is(
	.checkable-checkbox,
	.checkable-radio
) {
	box-shadow: 0 0 0 1px hsl(0 0% 0% / 10%),
		0 0 0 4px hsl(0 0% 0% / 10%),
		0 0 0 4px hsl(0 0% 0% / 10%);
}

.checkable-container[aria-checked=true] :is(
	.checkable-checkbox,
	.checkable-radio
) {
	background-color: var(--__color);
	box-shadow: /* 0 0 0 1px hsl(0 0% 0% / 10%), */
		0 0 0 4px hsl(0 0% 0% / 10%);
}

/* TODO */
/* .checkable-container[aria-checked=true]:is(:hover, :active) :is( */
/* 	.checkable-checkbox, */
/* 	.checkable-radio */
/* ) { */
/* 	box-shadow: /* 0 0 0 1px hsl(0 0% 0% / 10%), *!/ */
/* 		0 0 0 4px hsl(0 0% 0% / 10%), */
/* 		0 0 0 4px var(--__alpha-color); */
/* } */
