.component-nav-icon {
	height: 32px;
	aspect-ratio: 1;
	border-radius: 1000px;
	background-color: hsl(0 0% 75%);

	/* Flow */
	display: grid;
	place-items: center;

	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}
.component-nav-icon-icon {
	height: 24px;
	aspect-ratio: 1;
	color: hsl(0 0% 25%);
}
