.component-checkable-container {
	--__color:       hsl(200 100% 50%);
	--__alpha-color: hsl(200 100% 50% / 40%);

	/* Flow */
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center; /* component-checkable-container and component-checkable-checkbox are 28px and 24px */
	gap: 8px;

	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}
.component-checkable-label {
	padding:
		0    /* Y */
		8px; /* X */
	height: 28px;
	border-radius: 1000px;
	background-color: var(--form-label-color);

	/* Flow */
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 8px;
}
.component-checkable-label-icon {
	height: 16px;
	aspect-ratio: 1;
	color: var(--__color);
}

/**************************************/

.component-checkable-checkbox {
	height: 24px;
	aspect-ratio: 1;
	border-radius: 40%;
	background-color: var(--form-input-color);
	box-shadow: var(--form-input-box-shadow);

	/* Flow */
	display: grid;
	place-items: center;
}
.component-checkable-checkbox-svg {
	height: 12px;
	aspect-ratio: 1;
	color: white;
}
/* Overrides */
.component-checkable-container[aria-checked=false] .component-checkable-checkbox-svg {
	display: none;
}

/**************************************/

.component-checkable-radio {
	height: 24px;
	aspect-ratio: 1;
	border-radius: 1000px;
	background-color: var(--form-input-color);
	box-shadow: var(--form-input-box-shadow);

	/* Flow */
	display: grid;
	place-items: center;
}
.component-checkable-radio-icon {
	height: calc(100% / 3);
	aspect-ratio: 1;
	border-radius: 1000px;
	background-color: white;
}
/* Overrides */
.component-checkable-container[aria-checked=false] .component-checkable-radio-icon {
	display: none;
}

/**************************************/

/* Overrides */
.component-checkable-container[aria-checked=false]:is(:hover, :active) :is(
	.component-checkable-checkbox,
	.component-checkable-radio
) {
	box-shadow: 0 0 0 1px hsl(0 0% 0% / 10%),
		0 0 0 4px hsl(0 0% 0% / 10%),
		0 0 0 4px hsl(0 0% 0% / 10%);
}

.component-checkable-container[aria-checked=true] :is(
	.component-checkable-checkbox,
	.component-checkable-radio
) {
	background-color: var(--__color);
	box-shadow: /* 0 0 0 1px hsl(0 0% 0% / 10%), */
		0 0 0 4px hsl(0 0% 0% / 10%);
}

.component-checkable-container[aria-checked=true]:is(:hover, :active) :is(
	.component-checkable-checkbox,
	.component-checkable-radio
) {
	box-shadow: /* 0 0 0 1px hsl(0 0% 0% / 10%), */
		0 0 0 4px hsl(0 0% 0% / 10%),
		0 0 0 4px var(--__alpha-color);
}
