.cp-checkable-container {
	--color:       hsl(200 100% 50%);
	--alpha-color: hsl(200 100% 50% / 40%);

	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center; /* cp-checkable-container and cp-checkable-checkbox are 28px and 24px */
	gap: 8px;

	cursor: pointer;
}
.cp-checkable-label {
	padding: 0 8px;
	height: 28px;
	border-radius: 1000px;
	background-color: hsl(0 0% 90%);

	/* Flow */
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 8px;
}
.cp-checkable-label-icon {
	height: 60%;
	aspect-ratio: 1;
	color: var(--color);
}

/**************************************/

.cp-checkable-checkbox {
	height: 24px;
	aspect-ratio: 1;
	border-radius: calc(100% / 3);
	background-color: white;
	box-shadow: 0 0 0 1px hsl(0 0% 0% / 10%),
		0 0 0 4px hsl(0 0% 0% / 10%);

	/* Flow */
	display: grid;
	place-items: center;
}
.cp-checkable-checkbox-svg {
	height: 50%;
	aspect-ratio: 1;
	color: white;
}
/* Overrides */
.cp-checkable-container[aria-checked=false] .cp-checkable-checkbox-svg {
	display: none;
}

/**************************************/

.cp-checkable-radio {
	height: 24px;
	aspect-ratio: 1;
	border-radius: 1000px;
	background-color: white;
	box-shadow: 0 0 0 1px hsl(0 0% 0% / 10%),
		0 0 0 4px hsl(0 0% 0% / 10%);

	/* Flow */
	display: grid;
	place-items: center;
}
.cp-checkable-radio-icon {
	height: calc(100% / 3);
	aspect-ratio: 1;
	border-radius: 1000px;
	background-color: white;
}
/* Overrides */
.cp-checkable-container[aria-checked=false] .cp-checkable-radio-icon {
	display: none;
}

/**************************************/

/* Overrides */
.cp-checkable-container[aria-checked=false]:is(:hover, :active) :is(
	.cp-checkable-checkbox,
	.cp-checkable-radio
) {
	box-shadow: 0 0 0 1px hsl(0 0% 0% / 10%),
		0 0 0 4px hsl(0 0% 0% / 10%),
		0 0 0 8px hsl(0 0% 0% / 10%);
}

.cp-checkable-container[aria-checked=true] :is(
	.cp-checkable-checkbox,
	.cp-checkable-radio
) {
	background-color: var(--color);
	box-shadow: /* 0 0 0 1px hsl(0 0% 0% / 10%), */
		0 0 0 4px hsl(0 0% 0% / 10%);
}

.cp-checkable-container[aria-checked=true]:is(:hover, :active) :is(
	.cp-checkable-checkbox,
	.cp-checkable-radio
) {
	box-shadow: /* 0 0 0 1px hsl(0 0% 0% / 10%), */
		0 0 0 4px hsl(0 0% 0% / 10%),
		0 0 0 8px var(--alpha-color);
}
