/**************************************/
/* NAV */

/* At >=768px use margin-right to create negative space */
@media (min-width: 768px) {
	:root:has(.sidesheet:is(.open, .expanded)) .layout-nav {
		margin-right: 384px;
	}
}

/**************************************/
/* MAIN */

.layout-main {
	margin-top: 64px; /* For <nav> */
	padding: 16px;
}
:root:has(.bottomsheet) .layout-main {
	height: calc(var(--screen-y) - 64px - var(--sheet-draggable-size));
	overflow-y: auto;
}
:root:has(.sidesheet) .layout-main {
	padding-right: var(--sheet-draggable-size); /* Override */

	/* Defer to body scrolling for non-touch devices */
	@media (hover: none) {
		height: calc(var(--screen-y) - 64px);
		overflow-y: auto;
	}
}

/* At >=768px use margin-right to create negative space */
@media (min-width: 768px) {
	:root:has(.sidesheet:is(.open, .expanded)) .layout-main {
		margin-right: 384px;
	}
}

/**************************************/
/* SHEET */

:is(.bottomsheet-content, .sidesheet-content) {
	display: flex;
	flex-direction: column;
}
:root:has(.bottomsheet) .bottomsheet-content {
	height: calc(var(--screen-y) - var(--sheet-draggable-size) - 1px - var(--sheet-draggable-size));
	overflow-y: auto;
}
:root:has(.sidesheet) .sidesheet-content {
	height: var(--screen-y);
	overflow-y: auto;
}
/* Disable body scrolling when bottomsheet=open or sidesheet=expanded */
:root:has(:is(.bottomsheet.open, .sidesheet.expanded)) body {
	overflow-y: hidden;
}
