/* layer: default */
.\[aspect-ratio\:16_\/_9\]{aspect-ratio:16 / 9;}
.\[background-color\:gray\]{background-color:gray;}
.\[border-radius\:8px\]{border-radius:8px;}
.\[display\:grid\]{display:grid;}
.\[flex-grow\:1\]{flex-grow:1;}
.\[gap\:16px\]{gap:16px;}
.\[grid-template-columns\:auto_1fr\]{grid-template-columns:auto 1fr;}
.\[height\:80px\]{height:80px;}
.\[padding\:16px\]{padding:16px;}