/* layer: default */
.\[aspect-ratio\:16_\/_9\]{aspect-ratio:16 / 9;}
.\[background-color\:gray\]{background-color:gray;}
.\[background-color\:hsl\(0_0\%_90\%\)\]{background-color:hsl(0 0% 90%);}
.\[border-radius\:1000px\]{border-radius:1000px;}
.\[border-radius\:8px\]{border-radius:8px;}
.\[display\:flex\]{display:flex;}
.\[display\:grid\]{display:grid;}
.\[flex-direction\:column\]{flex-direction:column;}
.\[flex-direction\:row\]{flex-direction:row;}
.\[flex-grow\:1\]{flex-grow:1;}
.\[gap\:16px\]{gap:16px;}
.\[gap\:8px\]{gap:8px;}
.\[grid-template-columns\:repeat\(3\,_1fr\)\]{grid-template-columns:repeat(3, 1fr);}
.\[height\:80px\]{height:80px;}
.\[justify-self\:stretch\]{justify-self:stretch;}
.\[margin\:8px_0\]{margin:8px 0;}
.\[padding\:16px\]{padding:16px;}
.\[text-align\:center\]{text-align:center;}