/* layer: default */
.\[display\:flex\]{display:flex;}
.\[flex-direction\:column\]{flex-direction:column;}
.\[flex-grow\:1\]{flex-grow:1;}
.\[flex-shrink\:0\]{flex-shrink:0;}
.\[overflow-y\:auto\]{overflow-y:auto;}
.\[padding-top\:0_\!important\]{padding-top:0 !important;}
.\[padding\:16px\]{padding:16px;}