@use "sass:list";
@use "sass:string";

// Shorthand for describing a CSS variable-based color
//
//   link(base 100%)
//   -> hsl(var(--base-hue) var(--base-saturation) 100%)
//
@function link($args, $alpha: 100%) {
	$a1: list.nth($args, 1);
	$a2: list.nth($args, 2);
	@if $alpha == 100% {
		@return string.unquote("hsl(var(--#{$a1}-hue) var(--#{$a1}-saturation) #{$a2})");
	} @else {
		@return string.unquote("hsl(var(--#{$a1}-hue) var(--#{$a1}-saturation) #{$a2} / #{$alpha})");
	}
}

// Shorthand for describing a CSS variable-based themed color
//
//   themed-link(base 100%)
//   -> (
//   ->   light: hsl(var(--base-hue) var(--base-saturation) 100%),
//   ->   dark:  hsl(var(--base-hue) var(--base-saturation) 10%),
//   -> )
//
@function themed-link($args, $alpha: 100%, $delta: 10%) {
	$dark-args: (list.nth($args, 1) 100% - list.nth($args, 2) + $delta);
	@return (
		light: link($args, $alpha),
		dark:  link($dark-args, $alpha),
	);
}
