@use "css-utils" as *;

////////////////////////////////////////
// TODO: Extract?

$px:  20px;
$py:  16px;
$p:   var(--py) var(--px);
$gap: 12px;

$full: 1000px;

$sidebar-width: 500px; // Chrome
$expanded-sidebar-width: 640px;
$search-bar-height: 72px;
$search-results-grid-height: 96px;
$search-results-grid-border-radius: 32px;

$form-height: 32px;
$reduced-form-height: $form-height - 4px;

////////////////////////////////////////
// TODO: Extract?

$base-hue:         220deg;
$base-saturation:  25%;
$base-lightness:   100%;

$theme-hue:        265deg;
$theme-saturation: 100%;
$theme-lightness:  50%;

//// $focus-hue: $theme-hue + 10deg;
//// $focus-hue: (
//// 	light: 210deg,
//// 	dark:  200deg,
//// );

//// $focus-hue: $theme-hue + 10deg;

$focus-hue:        200deg;
$focus-saturation: 100%;
$focus-lightness:  50%;

$theme-color:      link(theme var(--theme-lightness));

$base-color:       themed-link(base 100%);
$faded-base-color: themed-link(base 90%);
$form-color:       themed-link(base 100%, $delta: 20%);
$hairline-color:   themed-link(base 80%);
$text-100-color:   themed-link(base 35%);
$text-200-color:   themed-link(base 65%);

$backdrop-color: (
	light: link(base 0%, $alpha: 15%),
	dark:  link(base 0%, $alpha: 25%),
);

////////////////////////////////////////

$-thickness: 1px;

$inset-box-shadow: inset 0 0 0 $-thickness var(--hairline-color);
$box-shadow: 0 0 0 $-thickness var(--hairline-color);

hr {
	height: $-thickness;
	background-color: var(--hairline-color);
}
hr.collapsible {
	position: relative;
	z-index: 10;
	margin-top: -$-thickness;
}
