@use "sass:map";
@use "sass:meta";

@use "focus-ring";
@use "index-vars";

// Desugar Sass variables to CSS variables
:root {
	@each $property, $value in meta.module-variables(index-vars) {
		@if meta.type-of($value) == map {
			$l: map.get($value, light);
			--#{$property}: #{$l};
		} @else {
			--#{$property}: #{$value};
		}
	}
	background-color: var(--base-color);
}

// Desugar Sass variables to CSS variables (dark theme)
:root[data-theme=dark] {
	@each $property, $value in meta.module-variables(index-vars) {
		@if meta.type-of($value) == map {
			$d: map.get($value, dark);
			--#{$property}: #{$d};
		}
	}
}

//// hr {
//// 	height: 1px;
//// 	background-color: var(--hairline-color);
//// }
