/* layer: default */
.\[display\:flex\]{display:flex;}
.\[flex-direction\:column\]{flex-direction:column;}
.\[flex-grow\:1\]{flex-grow:1;}
.\[flex-shrink\:0\]{flex-shrink:0;}
.\[height\:24px\]{height:24px;}
.\[height\:32px\]{height:32px;}
.\[overflow-y\:auto\]{overflow-y:auto;}
.\[padding-top\:0px_\!important\]{padding-top:0px !important;}
.\[padding\:16px\]{padding:16px;}