@use "utils/link" as *;

$card-hue:              220deg;
$card-saturation:       25%;
$card-lightness:        100%;

$theme-hue:             200deg;
$theme-saturation:      100%;
$theme-lightness:       50%;

$focus-ring-hue:        200deg;
$focus-ring-saturation: $theme-saturation; // Copy by value
$focus-ring-lightness:  $theme-lightness;  // Copy by value

// TODO: Why does theme-lightness need to be a Sass variable?
$theme-color:           link(theme $theme-lightness);                   // Copy by value (because of link)
$hover-color:           link(theme $theme-lightness, $alpha: 15%);      // Copy by value (because of link)

// TODO: DEPRECATE and just use $theme-color?
$hover-active-color:    link(theme $theme-lightness);                   // Copy by value (because of link)

$card-color:            themed-link(card $card-lightness);              // Copy by value (because of link)
$form-color:            themed-link(card $card-lightness, $delta: 20%); // Copy by value (because of link)

$faded-card-color:      themed-link(card 92.5%);
$hairline-color:        themed-link(card 85%);
$fill-100-color:        themed-link(card 15%);
$fill-200-color:        themed-link(card 35%);
$fill-300-color:        themed-link(card 55%);

// https://simpleicons.org
$github-color:  #181717;
$html-color:    #E34F26;
$react-color:   #61DAFB;
$svg-color:     #FFB13B;
$svg-color:     #FFB13B;
$twitter-color: #1DA1F2;
$vue-color:     #4FC08D;

$backdrop-color: hsl(0deg 0% 0% / 15%);

////////////////////////////////////////

//// $highlight-color: (
//// 	light: var(--fill-100-color),
//// 	dark:  inherit, // TODO
//// );
//// $highlight-backdrop-color: (
//// 	light: hsl(40deg 100% 50% / 25%),
//// 	dark:  transparent, // TODO
//// );
