@use "sass:list";
@use "sass:meta";

@use "box-shadow";
@use "color";
@use "layout";
@use "transition";
@use "typography";

@use "utils/interpolate-vars" as *;

////////////////////////////////////////

//// // DEBUG
//// * {
//// 	outline: 2px solid hsl(0deg 100% 50% / 10%);
//// 	outline-offset: -1px;
//// }

:root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	$vars: ();
	@each $thing in (layout, typography, color, box-shadow, transition) {
		$vars: list.join($vars, meta.module-variables($thing));
	}
	@include interpolate-vars($vars);
}

[tabindex] {
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

@include meta.load-css("focus-ring");

@if meta.mixin-exists(body, layout)     { @include layout.body;     }
@if meta.mixin-exists(body, typography) { @include typography.body; }
@if meta.mixin-exists(body, color)      { @include color.body;      }
@if meta.mixin-exists(body, box-shadow) { @include box-shadow.body; }
@if meta.mixin-exists(body, transition) { @include transition.body; }

////////////////////////////////////////

input[type=text].type-search-bar {
	font: 400 16px /
		normal var(--sans);
	font-feature-settings: "tnum";
	letter-spacing: calc(1em / 64);

	// Colors
	color: var(--fill-100-color);
	&::placeholder {
		color: var(--fill-300-color);
	}
}

.type-sans {
	font: 400 13px /
		normal var(--sans);
	font-feature-settings: "tnum";
	letter-spacing: calc(1em / 128);

	// Colors
	color: var(--fill-100-color);
	&.is-200 { color: var(--fill-200-color); }
	&.is-300 { color: var(--fill-300-color); }
}

.type-caps {
	font: 500 10px /
		normal var(--sans);
	font-feature-settings: "tnum";
	letter-spacing: calc(1em / 8);

	// Colors
	color: var(--fill-100-color);
	&.is-200 { color: var(--fill-200-color); }
	&.is-300 { color: var(--fill-300-color); }
}

.is-ellipsis {
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
