@use "sass:meta";

@use "theme" as *;
@use "utils/define-theme" as *;

//// @mixin ios {
//// 	@media (hover: none) {
//// 		@content;
//// 	}
//// }

// Fix the document; this prevents iOS
// from resizing the toolbar and
// breaking bottomsheet pointer events
@media (hover: none) {
	body {
		-webkit-text-size-adjust: 100%; // COMPAT/Safari
		position: fixed;
		inset: 0; // COMPAT/the-new-css-reset
		overflow: hidden;
	}
}

// TODO
* { touch-action: pan-y; }

// TODO
* {
	-webkit-user-select: none; // COMPAT
	user-select: none;
}

:root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	//// // TODO: DEPRECATE
	//// --inset:
	//// 	env(safe-area-inset-top)
	//// 	env(safe-area-inset-right)
	//// 	env(safe-area-inset-bottom)
	//// 	env(safe-area-inset-left);
	//// --inset-x:
	//// 	auto
	//// 	env(safe-area-inset-right)
	//// 	env(safe-area-inset-bottom)
	//// 	auto;
	//// --inset-y:
	//// 	env(safe-area-inset-top)
	//// 	auto
	//// 	env(safe-area-inset-bottom)
	//// 	auto;
	//// --inset-t:
	//// 	env(safe-area-inset-top)
	//// 	env(safe-area-inset-right)
	//// 	auto
	//// 	env(safe-area-inset-left);
	//// --inset-r:
	//// 	env(safe-area-inset-top)
	//// 	env(safe-area-inset-right)
	//// 	env(safe-area-inset-bottom)
	//// 	auto;
	//// --inset-b:
	//// 	auto
	//// 	env(safe-area-inset-right)
	//// 	env(safe-area-inset-bottom)
	//// 	env(safe-area-inset-left);
	//// --inset-l:
	//// 	env(safe-area-inset-top)
	//// 	auto
	//// 	env(safe-area-inset-bottom)
	//// 	env(safe-area-inset-left);
	////
	//// --inset:
	//// 	env(safe-area-inset-top)
	//// 	env(safe-area-inset-right)
	//// 	env(safe-area-inset-bottom)
	//// 	env(safe-area-inset-left);
	//// --inset-x:
	//// 	auto
	//// 	env(safe-area-inset-right)
	//// 	env(safe-area-inset-bottom)
	//// 	auto;
	//// --inset-y:
	//// 	env(safe-area-inset-top)
	//// 	auto
	//// 	env(safe-area-inset-bottom)
	//// 	auto;
	//// --inset-top:
	//// 	env(safe-area-inset-top)
	//// 	env(safe-area-inset-right)
	//// 	auto
	//// 	env(safe-area-inset-left);
	//// --inset-right:
	//// 	env(safe-area-inset-top)
	//// 	env(safe-area-inset-right)
	//// 	env(safe-area-inset-bottom)
	//// 	auto;
	//// --inset-bottom:
	//// 	auto
	//// 	env(safe-area-inset-right)
	//// 	env(safe-area-inset-bottom)
	//// 	env(safe-area-inset-left);
	//// --inset-left:
	//// 	env(safe-area-inset-top)
	//// 	auto
	//// 	env(safe-area-inset-bottom)
	//// 	env(safe-area-inset-left);

	--full:   1000px;
	--screen: 100vh;
	@supports (height: 100dvh) { --screen: 100dvh; }

	--padding: 16px;
	--gap:     8px;

	//// --sidebar-width:     448px;
	//// --search-bar-height: 64px;
	//// --main-grid-height:  96px;

	// TODO
	--form-height:       32px;
	--form-radio-height: 24px;

	--sans:
		system-ui,
		-apple-system,
		"Segoe UI",
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji";
	--code:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		"Liberation Mono",
		Menlo,
		monospace;

	@include define-theme($theme);
	&.is-dark { @include define-theme($theme, dark); }

	--motion-safe: 1;
	@media (prefers-reduced-motion: reduce) { :root { --motion-safe: 0; } }

	// DEBUG
	color: RED;
	@at-root {
		::placeholder {
			color: RED;
		}
	}

	// TODO
	background-color: var(--card-color);
}

//// // TODO: DEPRECATE?
//// [tabindex] {
//// 	cursor: pointer;
//// 	-webkit-user-select: none;
//// 	user-select: none;
//// }

hr {
	height: var(--hairline-thickness);
	background-color: var(--card-hairline-color);
	&.collapse { position: relative; z-index: 10; margin-top: calc(-1 * var(--hairline-thickness)); }
}

@include meta.load-css("focus-ring");
@include meta.load-css("typography");
