$full:   1000px;  // E.g. rounded-$full
$screen: 100vh;   // E.g. min-h-$screen

////////////////////////////////////////

$padding-x: 16px;
$padding-y: 16px;
$padding: (
	var(--padding-y)
	var(--padding-x)
);

$gap: 8px;

//// $sidebar-width: 448px;
$sidebar-width: 416px;
$expanded-sidebar-width: calc(var(--sidebar-width) * 1.25);
$search-bar-height: 64px;
$search-results-grid-height: 96px;

$form-height: 28px;
$reduced-form-height: 24px;
