@use "utils/layer-box-shadow" as *;

@use "utils/link" as *;

//// ////////////////////////////////////////
//// // Meta
////
//// $current:     currentColor;
//// $transparent: transparent;
//// $white:       white;
//// $black:       black;

////////////////////////////////////////
// Colors

// Raw channels
$base-hue:         220deg;
$base-saturation:  25%;
$base-lightness:   100%;

// Raw channels
$theme-hue:        265deg;
$theme-saturation: 100%;
$theme-lightness:  50%;

$focus-hue:        200deg;
$focus-saturation: 100%;
$focus-lightness:  50%;

$theme-color:      link(theme var(--theme-lightness));

$base-color:       themed-link(base 100%);
$faded-base-color: themed-link(base 90%);
$form-color:       themed-link(base 100%, $delta: 20%);
$hairline-color:   themed-link(base 80%);
$text-100-color:   themed-link(base 35%);
$text-200-color:   themed-link(base 65%);

$backdrop-color: (
	light: link(base 0%, $alpha: 15%),
	dark:  link(base 0%, $alpha: 25%),
);

////////////////////////////////////////
// Box shadow

$-box-shadow: ( // Internal
	0  1px  2px  -1px hsl(var(--base-hue) var(--base-saturation) 10% / 25%),
	0  2px  4px  -2px hsl(var(--base-hue) var(--base-saturation) 10% / 25%),
	0  4px  8px  -4px hsl(var(--base-hue) var(--base-saturation) 10% / 25%),
	0  8px 16px  -8px hsl(var(--base-hue) var(--base-saturation) 10% / 25%),
	0 16px 32px -16px hsl(var(--base-hue) var(--base-saturation) 10% / 25%),
	0 32px 64px -32px hsl(var(--base-hue) var(--base-saturation) 10% / 25%),
);
$box-shadow-1: layer-box-shadow($-box-shadow, 1);
$box-shadow-2: layer-box-shadow($-box-shadow, 2);
$box-shadow-3: layer-box-shadow($-box-shadow, 3);
$box-shadow-4: layer-box-shadow($-box-shadow, 4);
$box-shadow-5: layer-box-shadow($-box-shadow, 5);
$box-shadow-6: layer-box-shadow($-box-shadow, 6);

$-color-box-shadow: ( // Internal
	0  1px  2px  -1px hsl(var(--base-hue) var(--base-saturation) 50% / 25%),
	0  2px  4px  -2px hsl(var(--base-hue) var(--base-saturation) 50% / 25%),
	0  4px  8px  -4px hsl(var(--base-hue) var(--base-saturation) 50% / 25%),
	0  8px 16px  -8px hsl(var(--base-hue) var(--base-saturation) 50% / 25%),
	0 16px 32px -16px hsl(var(--base-hue) var(--base-saturation) 50% / 25%),
	0 32px 64px -32px hsl(var(--base-hue) var(--base-saturation) 50% / 25%),
);
$color-box-shadow-1: layer-box-shadow($-color-box-shadow, 1);
$color-box-shadow-2: layer-box-shadow($-color-box-shadow, 2);
$color-box-shadow-3: layer-box-shadow($-color-box-shadow, 3);
$color-box-shadow-4: layer-box-shadow($-color-box-shadow, 4);
$color-box-shadow-5: layer-box-shadow($-color-box-shadow, 5);
$color-box-shadow-6: layer-box-shadow($-color-box-shadow, 6);

// TODO: DEPRECATE
$-thickness: 1px;

$inset-box-shadow: inset 0 0 0 $-thickness var(--hairline-color);
$box-shadow: 0 0 0 $-thickness var(--hairline-color);

hr {
	height: $-thickness;
	background-color: var(--hairline-color);
}
hr.collapsible {
	position: relative;
	z-index: 10;
	margin-top: -$-thickness;
}
