input[type=text].typography-search-bar {
	font: 400 16px /
		normal var(--sans);
	font-feature-settings: "tnum";
	letter-spacing: calc(1em / 64);

	// Theming
	color: var(--fill-100-color);
	&::placeholder {
		color: var(--fill-300-color);
	}
}

.typography-sans {
	font: 400 13px /
		normal var(--sans);
	font-feature-settings: "tnum";
	letter-spacing: calc(1em / 128);

	// Theming
	color: var(--fill-100-color);
	&.is-200 { color: var(--fill-200-color); }
	&.is-300 { color: var(--fill-300-color); }
}

.typography-caps {
	font: 500 11px /
		normal var(--sans);
	font-feature-settings: "tnum";
	letter-spacing: calc(1em / 8);

	// Theming
	color: var(--fill-100-color);
	&.is-200 { color: var(--fill-200-color); }
	&.is-300 { color: var(--fill-300-color); }
}

[class^=typography].has-ellipsis {
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
