// E.g. padding
$px: 20px;
$py: 16px;
$p:  var(--py) var(--px);

// E.g. gap
$gap: 8px;

// E.g. border-radius
$full: 1000px;

$sidebar-width: 500px;
$expanded-sidebar-width: calc(var(--sidebar-width) * 1.25);
$search-bar-height: 72px;
$search-results-grid-height: 96px;
$search-results-grid-border-radius: 32px;

$form-height: 32px;
$reduced-form-height: $form-height - 4px;

@mixin body {}
