@use "utils/link" as *;

$card-hue:              220deg;
$card-saturation:       25%;
$card-lightness:        100%;

$theme-hue:             200deg;
$theme-saturation:      100%;
$theme-lightness:       50%;

$focus-ring-hue:        200deg;
$focus-ring-saturation: $theme-saturation; // Copy by value
$focus-ring-lightness:  $theme-lightness;  // Copy by value

$theme-color:           link(theme $theme-lightness);                   // Copy by value (because of link)
$hover-color:           link(theme $theme-lightness, $alpha: 15%);      // Copy by value (because of link)
$hover-active-color:    link(theme $theme-lightness);                   // Copy by value (because of link)

$card-color:            themed-link(card $card-lightness);              // Copy by value (because of link)
$form-color:            themed-link(card $card-lightness, $delta: 20%); // Copy by value (because of link)

$faded-card-color:      themed-link(card 90%);
$hairline-color:        themed-link(card 80%);
$fill-100-color:        themed-link(card 35%);
$fill-200-color:        themed-link(card 65%);

// https://simpleicons.org
$github-color:  #181717;
$html-color:    #E34F26;
$react-color:   #61DAFB;
$svg-color:     #FFB13B;
$twitter-color: #1DA1F2;
$vue-color:     #4FC08D;

$backdrop-color: (
	light: link(card 0%, $alpha: 15%),
	dark:  link(card 0%, $alpha: 25%),
);

@mixin body {}
