@use "utils/layer-box-shadow" as *;

@use "utils/link" as *;

$base-hue:        220deg;
$base-saturation: 25%;
$base-lightness:  100%;

//// $theme-hue:        265deg;
$theme-hue:        200deg;
$theme-saturation: 100%;
$theme-lightness:  50%;

// Accessibility
$focus-ring-hue:        $theme-hue - 10deg; // Copy by value
$focus-ring-saturation: $theme-saturation;  // Copy by value
$focus-ring-lightness:  $theme-lightness;   // Copy by value

////////////////////////////////////////

$theme-color:        link(theme $theme-lightness);                   // Copy by value (because of link)
$hover-color:        link(theme $theme-lightness, $alpha: 15%);      // Copy by value (because of link)
$hover-active-color: link(theme $theme-lightness);                   // Copy by value (because of link)

$base-color:         themed-link(base $base-lightness);              // Copy by value (because of link)
$form-color:         themed-link(base $base-lightness, $delta: 20%); // Copy by value (because of link)

$faded-base-color:   themed-link(base 90%);
$hairline-color:     themed-link(base 80%);
$fill-100-color:     themed-link(base 35%);
$fill-200-color:     themed-link(base 65%);

$backdrop-color: (
	light: link(base 0%, $alpha: 15%),
	dark:  link(base 0%, $alpha: 25%),
);

////////////////////////////////////////

$realistic-box-shadow: (
	0  1px  2px  -1px hsl(var(--base-hue) var(--base-saturation) 10% / 25%),
	0  2px  4px  -2px hsl(var(--base-hue) var(--base-saturation) 10% / 25%),
	0  4px  8px  -4px hsl(var(--base-hue) var(--base-saturation) 10% / 25%),
	0  8px 16px  -8px hsl(var(--base-hue) var(--base-saturation) 10% / 25%),
	0 16px 32px -16px hsl(var(--base-hue) var(--base-saturation) 10% / 25%),
	0 32px 64px -32px hsl(var(--base-hue) var(--base-saturation) 10% / 25%),
);

$realistic-box-shadow-1: layer-box-shadow($realistic-box-shadow, 1);
$realistic-box-shadow-2: layer-box-shadow($realistic-box-shadow, 2);
$realistic-box-shadow-3: layer-box-shadow($realistic-box-shadow, 3);
$realistic-box-shadow-4: layer-box-shadow($realistic-box-shadow, 4);
$realistic-box-shadow-5: layer-box-shadow($realistic-box-shadow, 5);
$realistic-box-shadow-6: layer-box-shadow($realistic-box-shadow, 6);

$realistic-color-box-shadow: (
	0  1px  2px  -1px hsl(var(--base-hue) var(--base-saturation) 50% / 25%),
	0  2px  4px  -2px hsl(var(--base-hue) var(--base-saturation) 50% / 25%),
	0  4px  8px  -4px hsl(var(--base-hue) var(--base-saturation) 50% / 25%),
	0  8px 16px  -8px hsl(var(--base-hue) var(--base-saturation) 50% / 25%),
	0 16px 32px -16px hsl(var(--base-hue) var(--base-saturation) 50% / 25%),
	0 32px 64px -32px hsl(var(--base-hue) var(--base-saturation) 50% / 25%),
);

$realistic-color-box-shadow-1: layer-box-shadow($realistic-color-box-shadow, 1);
$realistic-color-box-shadow-2: layer-box-shadow($realistic-color-box-shadow, 2);
$realistic-color-box-shadow-3: layer-box-shadow($realistic-color-box-shadow, 3);
$realistic-color-box-shadow-4: layer-box-shadow($realistic-color-box-shadow, 4);
$realistic-color-box-shadow-5: layer-box-shadow($realistic-color-box-shadow, 5);
$realistic-color-box-shadow-6: layer-box-shadow($realistic-color-box-shadow, 6);

$-hairline-thickness: 1px;

$inset-hairline-box-shadow: inset 0 0 0 $-hairline-thickness var(--hairline-color);
$hairline-box-shadow: 0 0 0 $-hairline-thickness var(--hairline-color);

$inset-box-shadow: (
	light: (var(--inset-hairline-box-shadow), var(--realistic-color-box-shadow)),
	dark:  (var(--inset-hairline-box-shadow), var(--realistic-box-shadow)),
);
$box-shadow: (
	light: (var(--hairline-box-shadow), var(--realistic-color-box-shadow)),
	dark:  (var(--hairline-box-shadow), var(--realistic-box-shadow)),
);

////////////////////////////////////////

@mixin body {
	hr {
		height: $-hairline-thickness;
		background-color: var(--hairline-color);
		&.collapsible { position: relative; z-index: 10; margin-top: -$-hairline-thickness; }
	}
}
